.footer-top__bg {
  min-height: 15rem;
  background-image: url(/media/bg/bg-footer-top-mobile.svg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
}

.footer__container {
  background-color: $very-dark-cyan;
  color: $very-pale-blue;
  display: flex;
  flex-direction: column-reverse;

  .contacts {
    width: 80%;
    margin: 2.5rem auto;

    .logo {
      filter: brightness(0) invert(1);
    }

    p {
      margin: 1rem auto 3rem auto;
    }

    .phone,
    .email {
      cursor: pointer;
      margin-top: 1rem;

      img {
        margin-right: 1rem;
      }

      &:hover {
        color: lighten($very-dark-cyan, 40);
      }

      &:active {
        position: relative;
        top: 1px;
      }
    }

    .socials {
      width: 8rem;
      display: inline-flex;
      justify-content: space-between;
      margin-top: 3.5rem;

      i {
        font-size: 2rem;
        cursor: pointer;

        &:hover {
          color: lighten($very-dark-cyan, 40);
        }

        &:active {
          position: relative;
          top: 1px;
        }
      }
    }
  }

  .newsletter {
    width: 80%;
    margin: 2.5rem auto;

    p {
      margin: 1rem auto 2rem auto;
    }

    .subscribe {
      text-align: right;
      input {
        width: 100%;
        border: none;
        border-radius: 5px;
        margin-bottom: 1rem;
        padding: 1.1rem;
      }
    }
  }
}

.credits {
  background-color: $very-dark-cyan;
  color: $very-pale-blue;
  font-size: 0.8em;
  display: flex;
  justify-content: center;
  padding: 1rem;

  a {
    color: $very-pale-blue;
    text-decoration: none;
    margin-left: 3px;
    cursor: pointer;

    &:hover {
      color: lighten($very-dark-cyan, 40);
    }

    &:active {
      position: relative;
      top: 1px;
    }
  }
}
